.header {
    max-width: 880px;
    margin: 45px auto 36.25px auto;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 420px) {
    .header {
        margin-top: 28px;
        margin-bottom: 38.25px;
    }

}